<div>
    <div class="card-body">
      <h5 class="card-title">{{mail.subject}} | {{mail.receiver}}</h5> 
      <p class="card-text" *ngIf = 'nascondi'>{{mail.text}}</p>
      <button href="#" *ngIf = '!nascondi'class="btn btn-primary" (click) = 'espandi()'>Espandi</button>
      <button href="#" *ngIf = 'nascondi' class="btn btn-primary" (click) = 'espandi()'>Chiudi</button>
      <button href="#" *ngIf = 'nascondi' class="btn btn-warning border-dark" (click) = 'speciale()'>Speciale</button>
    </div>
</div>