<div class="container">
  <form>
      <h3 class="display-4">Mail</h3>
      <div class="form-group">
        <label for="to">Destinatario:</label>
        <input type="text" name = 'to' class="form-control" #newreceiver>
      </div>
      <div class="form-group">
        <label for="Oggetto">Oggetto:</label>
        <input type="text" name = 'Oggetto' class="form-control" #newsubject>
      </div>
      <div class="form-group">
        <label for="Contenuto">Testo:</label>
        <input type="text" name = 'Contenuto' class="form-control" #newtext>
      </div>
    <button (click)="nuovaMail(newreceiver, newsubject, newtext)" class="btn btn-primary mt-2">
      Invia
    </button>
  </form>
</div>

<div class="container">
<app-sent-mail *ngFor = "let mail of casella" [mail] = 'mail' ></app-sent-mail>
</div>